extends layout
block content

    h1 Become a member 
    div.loginFormContainer
        form.loginForm(action="", method="post") 
            div
                label(for='secret') Secret
                input#secret(type='text', name='secret', placeholder='secret', required)
            button(type='submit') Submit

        if errors   
            ul 
                for error in errors 
                    li= error.msg